.errors {
  border-style: solid 1px;
  background-color: #ec4e3c;
  border-radius: 3px;
  width: 20%;
}

.flash {
  border-style: solid 1px;
  background-color: #46D44D;
  border-radius: 3px;
  width: 20%;
}
